In [1]:
# Libraries
import itertools
from importlib import resources
import pandas as pd
import numpy as np
from tqdm import tqdm
from ucimlrepo import fetch_ucirepo

from drdt.helper_functions import DecisionRuleCreatorFromDecisionTable, Reduction, R_SR, R_AD, SAlphaStep, SPlus, SMax, NCover, NGreedy
from drdt.algorithms import DynamicProgrammingAlgorithms, A_C_N, A_C_G
from drdt.helper_functions import DecisionRuleCreatorFromDecisionTable
pd.options.mode.chained_assignment = None

# Loading Data

In [2]:
# Loading DecisionTable
breast_cancer = fetch_ucirepo(id=14) 

X = breast_cancer.data.features 
y = breast_cancer.data.targets 

#rename target name 'Class' to 'class'
y = y.rename(columns={'Class': 'class'})

DecisionTable = pd.concat([X, y], axis=1).sample(n=20, random_state=42)
DecisionTable

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
9,40-49,premeno,20-24,0-2,no,2,right,left_up,no,no-recurrence-events
267,60-69,ge40,20-24,24-26,yes,3,left,left_low,yes,recurrence-events
143,40-49,premeno,45-49,0-2,no,2,left,left_low,yes,no-recurrence-events
212,40-49,premeno,30-34,0-2,no,3,right,right_up,no,recurrence-events
227,50-59,premeno,30-34,0-2,no,3,right,left_up,yes,recurrence-events
155,60-69,ge40,40-44,5-Mar,no,2,right,left_up,yes,no-recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
73,50-59,premeno,15-19,0-2,no,2,right,right_low,no,no-recurrence-events
196,50-59,premeno,14-Oct,5-Mar,no,1,right,left_up,no,no-recurrence-events
33,50-59,ge40,14-Oct,0-2,no,1,right,left_up,no,no-recurrence-events
185,40-49,premeno,20-24,8-Jun,no,2,right,left_low,yes,no-recurrence-events
124,60-69,ge40,14-Oct,0-2,no,1,right,left_low,no,no-recurrence-events
146,60-69,ge40,50-54,0-2,no,2,right,left_up,yes,no-recurrence-events
265,30-39,premeno,35-39,11-Sep,yes,3,left,left_low,no,recurrence-events
5,60-69,ge40,15-19,0-2,no,2,left,left_low,no,no-recurrence-events
220,40-49,premeno,25-29,0-2,no,3,left,right_up,no,recurrence-events
233,70-79,ge40,15-19,11-Sep,NaN,1,left,left_low,yes,recurrence-events
251,40-49,premeno,50-54,0-2,no,2,right,left_low,yes,recurrence-events
45,50-59,ge40,30-34,0-2,no,1,left,left_up,no,no-recurrence-events
268,30-39,premeno,35-39,0-2,no,3,left,left_low,no,recurrence-events

In [3]:
# Creating Decision Rule System
S = DecisionRuleCreatorFromDecisionTable(DecisionTable).applymap(lambda x: str(x) if pd.notnull(x) else x)
S = S.dropna(axis=1, how='all') # Drop the columns with all None
S

100%|██████████████████████████████████████████| 20/20 [00:00<00:00, 453.07it/s]

,age,menopause,tumor-size,inv-nodes,deg-malig,breast-quad,class
9,NaN,NaN,20-24,NaN,2.0,NaN,no-recurrence-events
267,NaN,NaN,NaN,24-26,NaN,NaN,recurrence-events
143,NaN,NaN,45-49,NaN,NaN,NaN,no-recurrence-events
212,NaN,NaN,NaN,NaN,3.0,NaN,recurrence-events
227,NaN,NaN,NaN,NaN,3.0,NaN,recurrence-events
155,NaN,NaN,40-44,NaN,NaN,NaN,no-recurrence-events
283,60-69,NaN,20-24,NaN,NaN,NaN,recurrence-events
73,NaN,NaN,NaN,NaN,NaN,right_low,no-recurrence-events
196,NaN,NaN,14-Oct,NaN,NaN,NaN,no-recurrence-events
33,NaN,NaN,14-Oct,NaN,NaN,NaN,no-recurrence-events
185,NaN,NaN,NaN,8-Jun,NaN,NaN,no-recurrence-events
124,NaN,NaN,14-Oct,NaN,NaN,NaN,no-recurrence-events
146,60-69,NaN,50-54,NaN,NaN,NaN,no-recurrence-events
265,30-39,NaN,NaN,NaN,NaN,NaN,recurrence-events
5,60-69,NaN,15-19,NaN,NaN,NaN,no-recurrence-events
220,NaN,NaN,25-29,NaN,NaN,NaN,recurrence-events
233,70-79,NaN,NaN,NaN,NaN,NaN,recurrence-events
251,40-49,NaN,50-54,NaN,NaN,NaN,recurrence-events
45,50-59,ge40,NaN,NaN,NaN,NaN,no-recurrence-events
268,30-39,NaN,NaN,NaN,NaN,NaN,recurrence-events

# Dataset Analyses

In [4]:
print(f"Number of features  = {len(S.columns)-1}")

Number of features  = 6

In [5]:
print(f"Does # of features = d  = {not S.dropna().empty}")

Does # of features = d  = False

In [6]:
# Count non-NaN values for each row
non_nan_counts = S.count(axis=1)

# Find the index
max_non_nan_row_index = non_nan_counts.idxmax()

# Retrieve the row
max_non_nan_row = S.loc[max_non_nan_row_index]

# Number of non-NaN values in the row
max_non_nan_count = non_nan_counts[max_non_nan_row_index]

print(f"d of  = {max_non_nan_count - 1}") # remove 1 because of last class column

d of  = 2

In [7]:
P = S
P_plus = SPlus(P)
B = NCover(P_plus)
print(f"Length of Node Cover for AR = {len(B)}")

Length of Node Cover for AR = 4

In [8]:
P = R_SR(S)
P_plus = SPlus(P)
B = NCover(P_plus)
print(f"Length of Node Cover for SR = {len(B)}")

Length of Node Cover for SR = 4

In [9]:
P = R_AD(S)
P_plus = SPlus(P)
B = NCover(P_plus)
print(f"Length of Node Cover for AD = {len(B)}")

Length of Node Cover for AD = 4

In [10]:
P = S
P_plus = SPlus(P)
B = NGreedy(P_plus)
print(f"Length of Node Cover greedy for AR = {len(B)}")

Length of Node Cover greedy for AR = 2

In [11]:
P = R_SR(S)
P_plus = SPlus(P)
B = NGreedy(P_plus)
print(f"Length of Node Cover greedy for SR = {len(B)}")

Length of Node Cover greedy for SR = 2

In [12]:
P = R_AD(S)
P_plus = SPlus(P)
B = NGreedy(P_plus)
print(f"Length of Node Cover greedy for AD = {len(B)}")

Length of Node Cover greedy for AD = 2

# Dynamic Programming

In [13]:
alg = DynamicProgrammingAlgorithms(C="AR")
depth = alg.A_DP(S)
print(f"DP AR = {depth}")

DP AR = 6

In [14]:
alg = DynamicProgrammingAlgorithms(C="EAR")
depth = alg.A_DP(S)
print(f"DP EAR = {depth}")

DP EAR = 6

In [15]:
alg = DynamicProgrammingAlgorithms(C="SR")
depth = alg.A_DP(S)
print(f"DP SR = {depth}")

DP SR = 1

In [16]:
alg = DynamicProgrammingAlgorithms(C="ESR")
depth = alg.A_DP(S)
print(f"DP ESR = {depth}")

DP ESR = 6

In [17]:
alg = DynamicProgrammingAlgorithms(C="AD")
depth = alg.A_DP(S)
print(f"DP AD = {depth}")

DP AD = 4

In [18]:
alg = DynamicProgrammingAlgorithms(C="EAD")
depth = alg.A_DP(S)
print(f"DP EAD = {depth}")

DP EAD = 6

# Combinations

In [19]:
column_values = []

for column in S.columns[:-1]: #ignoring class column
    column_values.append(list(S[column].dropna().unique()))
    
# All possible combinations    
combinations = list(itertools.product(*column_values))

In [20]:
column_values_extension = []

for column in S.columns[:-1]: #ignoring class column
    column_values_extension.append(list(S[column].dropna().unique()) + ['*'])
    
# All possible combinations with extension    
extended_combinations = list(itertools.product(*column_values_extension))

# Node Cover

In [21]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="AR", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC AR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|████████████████████████████████████████| 140/140 [00:01<00:00, 114.62it/s]

NC AR
(Max Depth, Min Depth, Average Depth) = (6, 6, 6.0)

In [22]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="EAR", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|██████████████████████████████████████| 1728/1728 [00:14<00:00, 123.16it/s]

NC EAR
(Max Depth, Min Depth, Average Depth) = (6, 6, 6.0)

In [23]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="SR", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC SR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:03<00:00, 42.55it/s]

NC SR
(Max Depth, Min Depth, Average Depth) = (6, 4, 4.0285714285714285)

In [24]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="ESR", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC ESR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:41<00:00, 42.08it/s]

NC ESR
(Max Depth, Min Depth, Average Depth) = (6, 4, 4.243055555555555)

In [25]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="AD", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC AD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:02<00:00, 54.18it/s]

NC AD
(Max Depth, Min Depth, Average Depth) = (6, 4, 4.9)

In [26]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="EAD", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NC EAD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:31<00:00, 54.99it/s]

NC EAD
(Max Depth, Min Depth, Average Depth) = (6, 4, 5.225694444444445)

# Node Cover Greedy

In [27]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="AR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy AR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|████████████████████████████████████████| 140/140 [00:01<00:00, 110.17it/s]

NCgreedy AR
(Max Depth, Min Depth, Average Depth) = (6, 5, 5.2)

In [28]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="EAR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|██████████████████████████████████████| 1728/1728 [00:15<00:00, 112.55it/s]

NCgreedy EAR
(Max Depth, Min Depth, Average Depth) = (6, 5, 5.166666666666667)

In [29]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="SR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy SR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:03<00:00, 42.56it/s]

NCgreedy SR
(Max Depth, Min Depth, Average Depth) = (6, 2, 2.5142857142857142)

In [30]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="ESR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy ESR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:45<00:00, 37.96it/s]

NCgreedy ESR
(Max Depth, Min Depth, Average Depth) = (6, 2, 2.8333333333333335)

In [31]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="AD", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy AD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:02<00:00, 53.39it/s]

NCgreedy AD
(Max Depth, Min Depth, Average Depth) = (6, 2, 4.0)

In [32]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="EAD", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("NCgreedy EAD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:33<00:00, 51.20it/s]

NCgreedy EAD
(Max Depth, Min Depth, Average Depth) = (6, 2, 4.166666666666667)

# Greedy

In [33]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="AR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy AR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|████████████████████████████████████████| 140/140 [00:00<00:00, 171.70it/s]

Greedy AR
(Max Depth, Min Depth, Average Depth) = (6, 5, 5.2)

In [34]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="EAR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|██████████████████████████████████████| 1728/1728 [00:09<00:00, 180.37it/s]

Greedy EAR
(Max Depth, Min Depth, Average Depth) = (6, 5, 5.166666666666667)

In [35]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="SR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy SR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:03<00:00, 43.03it/s]

Greedy SR
(Max Depth, Min Depth, Average Depth) = (3, 1, 1.5714285714285714)

In [36]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="ESR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy ESR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:41<00:00, 41.73it/s]

Greedy ESR
(Max Depth, Min Depth, Average Depth) = (6, 1, 1.8865740740740742)

In [37]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="AD")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy AD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|█████████████████████████████████████████| 140/140 [00:02<00:00, 57.60it/s]

Greedy AD
(Max Depth, Min Depth, Average Depth) = (5, 2, 3.3285714285714287)

In [38]:
depths = []

for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="EAD")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
    
print("Greedy EAD")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

100%|███████████████████████████████████████| 1728/1728 [00:29<00:00, 58.20it/s]

Greedy EAD
(Max Depth, Min Depth, Average Depth) = (6, 2, 3.6875)