In [1]:
# Libraries
import itertools
from importlib import resources
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import random
import time

from drdt.helper_functions import DecisionRuleCreatorFromDecisionTable, Reduction, R_SR, R_AD, SAlphaStep, SPlus, SMax, NCover, NGreedy
from drdt.algorithms import DynamicProgrammingAlgorithms, A_C_N, A_C_G

# Loading Data

In [2]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_balance_scale') as dataset_path:
    S = pd.read_csv(dataset_path).applymap(lambda x: str(x) if pd.notnull(x) else x)
S = S.dropna(axis=1, how='all') # Drop the columns with all None
S

/var/folders/06/0m2hb6f927s6rdyhxjrbss740r2h_1/T/ipykernel_26640/2576554060.py:1: DeprecationWarning: path is deprecated. Use files() instead. Refer to https://importlib-resources.readthedocs.io/en/latest/using.html#migrating-from-legacy for migration advice.
  with resources.path('datasets.DecisionRuleSystems', 'DRS_balance_scale') as dataset_path:
/var/folders/06/0m2hb6f927s6rdyhxjrbss740r2h_1/T/ipykernel_26640/2576554060.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  S = pd.read_csv(dataset_path).applymap(lambda x: str(x) if pd.notnull(x) else x)

    right-distance right-weight left-distance left-weight class
0              1.0          1.0           1.0         1.0     B
1              2.0          NaN           1.0         1.0     R
2              3.0          NaN           1.0         1.0     R
3              4.0          NaN           1.0         1.0     R
4              5.0          NaN           1.0         1.0     R
..             ...          ...           ...         ...   ...
620            1.0          NaN           5.0         5.0     L
621            2.0          NaN           5.0         5.0     L
622            3.0          NaN           5.0         5.0     L
623            4.0          NaN           5.0         5.0     L
624            5.0          5.0           5.0         5.0     B

[625 rows x 5 columns]

# Dataset Analyses

In [3]:
n = len(S.columns)-1
print(f"Number of features  = {n}")

Number of features  = 4

In [4]:
print(f"Does # of features = d  = {not S.dropna().empty}")

Does # of features = d  = True

In [5]:
# Count non-NaN values for each row
non_nan_counts = S.count(axis=1)

# Find the index
max_non_nan_row_index = non_nan_counts.idxmax()

# Retrieve the row
max_non_nan_row = S.loc[max_non_nan_row_index]

# Number of non-NaN values in the row
max_non_nan_count = non_nan_counts[max_non_nan_row_index]

d = max_non_nan_count - 1

print(f"d = {d}") # remove 1 because of last class column

d = 4

# DP

In [6]:
start_time = time.time()
alg = DynamicProgrammingAlgorithms(C="EAD")
depth = alg.A_DP(S)
end_time = time.time()
    
print("DP EAD")    
print("(Depth, Running time) =", (depth, end_time - start_time))

DP EAD
(Depth, Running time) = (4, 5.607034206390381)