In [1]:
import itertools
import pandas as pd
from importlib import resources
from tqdm import tqdm

from drdt.algorithms import A_C_G

In [2]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_congressional_voting_records') as dataset_path:
    S = pd.read_csv(dataset_path)   
S

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
431,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
433,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
434,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican

In [3]:
res = 1

for col in S.columns[:-1]:
    res *= len(S[col].unique())-1
    
print("number of possible combinations =", res)

number of possible combinations = 1024

In [4]:
# Possible values for each featue
handicapped_infants_values = ['n','y']
water_project_cost_sharing_values = ['n','y']
adoption_of_the_budget_resolution_values = ['n','y']
physician_fee_freeze_values = ['n','y'] 
el_salvador_aid_values = ['n','y']
religious_groups_in_schools_values = ['n']
anti_satellite_test_ban_values = ['n','y']
mx_missile_values = ['y']
immigration_values = ['y']
synfuels_corporation_cutback_values = ['n','y']
education_spending_values = ['n','y']
superfund_right_to_sue_values = ['n','y']
crime_values = ['y']
duty_free_exports_values = ['y']
export_administration_act_south_africa_values = ['n','y']


# All possible combinations
combinations = list(itertools.product(handicapped_infants_values, 
                                      water_project_cost_sharing_values, 
                                      adoption_of_the_budget_resolution_values, 
                                      physician_fee_freeze_values, 
                                      el_salvador_aid_values, 
                                      religious_groups_in_schools_values,
                                      anti_satellite_test_ban_values,
                                      mx_missile_values,
                                      immigration_values,
                                      synfuels_corporation_cutback_values,
                                      education_spending_values,
                                      superfund_right_to_sue_values,
                                      crime_values,
                                      duty_free_exports_values,
                                      export_administration_act_south_africa_values))

In [5]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame(
    [[comb[0], comb[1], comb[2], comb[3], comb[4], comb[5], comb[6], comb[7], comb[8], comb[9], comb[10], comb[11], comb[12], comb[13], comb[14]]],
    columns=['handicapped-infants',
             'water-project-cost-sharing',
             'adoption-of-the-budget-resolution',
             'physician-fee-freeze', 
             'el-salvador-aid', 
             'religious-groups-in-schools',
             'anti-satellite-test-ban',
             'mx-missile',
             'immigration',
             'synfuels-corporation-cutback',
             'education-spending',
             'superfund-right-to-sue',
             'crime',
             'duty-free-exports',
             'export-administration-act-south-africa'])
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="SR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)

100%|███████████████████████████████████████| 1024/1024 [01:10<00:00, 14.60it/s]

In [6]:
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

(Max Depth, Min Depth, Average Depth) = (0, 0, 0.0)