In [1]:
from importlib import resources
import pandas as pd

from drdt.algorithms import DynamicProgrammingAlgorithms

In [2]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_tic-tac-toe') as dataset_path:
    S = pd.read_csv(dataset_path)   
S

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,NaN,NaN,NaN,NaN,o,o,NaN,o,o,positive
1,NaN,NaN,NaN,NaN,o,o,o,NaN,o,positive
2,NaN,NaN,NaN,NaN,o,o,o,o,NaN,positive
3,NaN,NaN,x,NaN,NaN,o,o,NaN,b,positive
4,NaN,x,NaN,x,NaN,NaN,b,NaN,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative
954,NaN,NaN,o,x,NaN,NaN,NaN,NaN,NaN,negative
955,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
956,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
957,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative

In [3]:
alg = DynamicProgrammingAlgorithms(C="AR")

In [ ]:
depth = alg.A_DP(S)
depth