# Creating Decision Rule Systems

In [1]:
import pandas as pd
from importlib import resources
from drdt.helper_functions import DecisionRuleCreatorFromDecisionTable
from ucimlrepo import fetch_ucirepo

# Soybean

In [ ]:
soybean_large = fetch_ucirepo(id=90) 

X = soybean_large.data.features 
y = soybean_large.data.targets

In [ ]:
DecisionTable = pd.concat([X, y], axis=1)
DecisionTable

### Pre-processing

In [ ]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

In [ ]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

### Creating Decision Rule System

In [ ]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

In [ ]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_soybean', index=False)

# Tic Tac Toe

In [2]:
with resources.path('datasets.UCIMLDatasets', "tic-tac-toe.csv") as dataset_path:
    DecisionTable = pd.read_csv(dataset_path, header=None)

DecisionTable.columns = ["top-left-square", "top-middle-square", "top-right-square", "middle-left-square", "middle-middle-square", "middle-right-square", "bottom-left-square", "bottom-middle-square", "bottom-right-square", "class"]

DecisionTable

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

### Pre-processing

In [3]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

No missing values

In [4]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

No dublicate

### Creating Decision Rule System

In [5]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

DecisionRule

100%|████████████████████████████████████████| 958/958 [00:02<00:00, 357.41it/s]

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,NaN,NaN,NaN,NaN,o,o,NaN,o,o,positive
1,NaN,NaN,NaN,NaN,o,o,o,NaN,o,positive
2,NaN,NaN,NaN,NaN,o,o,o,o,NaN,positive
3,NaN,NaN,x,NaN,NaN,o,o,NaN,b,positive
4,NaN,x,NaN,x,NaN,NaN,b,NaN,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative
954,NaN,NaN,o,x,NaN,NaN,NaN,NaN,NaN,negative
955,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
956,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
957,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative

In [ ]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_tic-tac-toe', index=False)

# Car Evaluation

In [6]:
with resources.path('datasets.UCIMLDatasets', "car_evaluation.csv") as dataset_path:
    DecisionTable = pd.read_csv(dataset_path, header=None)

DecisionTable.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"] 

DecisionTable

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

### Pre-processing

In [7]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

No missing values

In [8]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

No dublicate

### Creating Decision Rule System

In [9]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

100%|██████████████████████████████████████| 1728/1728 [00:04<00:00, 388.30it/s]

     buying maint  doors persons lug_boot safety  class
0       NaN   NaN    NaN       2      NaN    NaN  unacc
1       NaN   NaN    NaN       2      NaN    NaN  unacc
2       NaN   NaN    NaN       2      NaN    NaN  unacc
3       NaN   NaN    NaN       2      NaN    NaN  unacc
4       NaN   NaN    NaN       2      NaN    NaN  unacc
...     ...   ...    ...     ...      ...    ...    ...
1723    low   NaN  5more     NaN      NaN    med   good
1724    low   NaN    NaN     NaN      NaN   high  vgood
1725    NaN   NaN    NaN     NaN      NaN    low  unacc
1726    low   NaN  5more     NaN      NaN    med   good
1727    low   NaN    NaN     NaN      big    NaN  vgood

[1728 rows x 7 columns]

In [ ]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_car_evaluation', index=False)

# Mushroom Dataset

In [10]:
mushroom = fetch_ucirepo(id=73) 
  
X = mushroom.data.features 
y = mushroom.data.targets 

#rename target name 'poisonous' to 'class'
y = y.rename(columns={'poisonous': 'class'})

In [11]:
DecisionTable = pd.concat([X, y], axis=1)
DecisionTable

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
0,x,s,n,t,p,f,c,n,k,e,...,w,w,p,w,o,p,k,s,u,p
1,x,s,y,t,a,f,c,b,k,e,...,w,w,p,w,o,p,n,n,g,e
2,b,s,w,t,l,f,c,b,n,e,...,w,w,p,w,o,p,n,n,m,e
3,x,y,w,t,p,f,c,n,n,e,...,w,w,p,w,o,p,k,s,u,p
4,x,s,g,f,n,f,w,b,k,t,...,w,w,p,w,o,e,n,a,g,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,k,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,b,c,l,e
8120,x,s,n,f,n,a,c,b,y,e,...,o,o,p,n,o,p,b,v,l,e
8121,f,s,n,f,n,a,c,b,n,e,...,o,o,p,o,o,p,b,c,l,e
8122,k,y,n,f,y,f,c,n,b,t,...,w,w,p,w,o,e,w,v,l,p
8123,x,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,o,c,l,e

### Pre-processing

In [12]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

Dataset has missing values

In [13]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

No dublicate

### Creating Decision Rule System

In [14]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

  0%|                                                  | 0/8124 [00:00<?, ?it/s]/Users/durdymk/Desktop/DrDt/drdt/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|███████████████████████████████████████| 8124/8124 [04:18<00:00, 31.44it/s]

,cap-shape,cap-surface,cap-color,bruises,odor,gill-spacing,gill-size,gill-color,stalk-shape,stalk-root,stalk-surface-above-ring,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,ring-number,ring-type,spore-print-color,population,habitat,class
0,NaN,NaN,NaN,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
1,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
2,NaN,NaN,NaN,NaN,l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
3,NaN,NaN,NaN,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,NaN,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8120,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8121,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8122,k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
8123,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e

In [15]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_mushroom', index=False)

# Congressional Voting Records

In [16]:
congressional_voting_records = fetch_ucirepo(id=105) 

X = congressional_voting_records.data.features 
y = congressional_voting_records.data.targets 

#rename target name 'Class' to 'class'
y = y.rename(columns={'Class': 'class'})

In [17]:
DecisionTable = pd.concat([X, y], axis=1)
DecisionTable

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,class
0,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN,republican
2,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n,republican

### Pre-processing

In [18]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

Dataset has missing values

In [19]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

Yes there are dublicates

### Creating Decision Rule System

In [20]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

  0%|                                                   | 0/279 [00:00<?, ?it/s]/Users/durdymk/Desktop/DrDt/drdt/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|████████████████████████████████████████| 279/279 [00:01<00:00, 266.46it/s]

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,class
0,n,NaN,NaN,n,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
1,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,democrat
2,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,democrat
3,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,democrat
4,n,n,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,y,NaN,NaN,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
275,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,republican
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
278,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican

In [21]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_congressional_voting_records', index=False)

# Breast Cancer

In [22]:
breast_cancer = fetch_ucirepo(id=14) 

X = breast_cancer.data.features 
y = breast_cancer.data.targets 

#rename target name 'Class' to 'class'
y = y.rename(columns={'Class': 'class'})

In [23]:
DecisionTable = pd.concat([X, y], axis=1)
DecisionTable

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
284,40-49,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events
285,50-59,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events

### Pre-processing

In [24]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

Dataset has missing values

In [25]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

Yes there are dublicates

### Creating Decision Rule System

In [26]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

  0%|                                                   | 0/266 [00:00<?, ?it/s]/Users/durdymk/Desktop/DrDt/drdt/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|████████████████████████████████████████| 266/266 [00:02<00:00, 101.80it/s]

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,20-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
1,30-39,lt40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
2,NaN,NaN,0-4,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
3,30-39,NaN,14-Oct,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
4,30-39,NaN,14-Oct,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
261,70-79,NaN,14-Oct,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
262,70-79,NaN,NaN,11-Sep,NaN,NaN,NaN,NaN,NaN,recurrence-events
263,70-79,NaN,20-24,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
264,70-79,NaN,40-44,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
265,70-79,NaN,40-44,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events

In [27]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_breast_cancer', index=False)

# Balance Scale

In [28]:
balance_scale = fetch_ucirepo(id=12) 
  
# data (as pandas dataframes) 
X = balance_scale.data.features 
y = balance_scale.data.targets

In [29]:
DecisionTable = pd.concat([X, y], axis=1)
DecisionTable

     right-distance  right-weight  left-distance  left-weight class
0                 1             1              1            1     B
1                 2             1              1            1     R
2                 3             1              1            1     R
3                 4             1              1            1     R
4                 5             1              1            1     R
..              ...           ...            ...          ...   ...
620               1             5              5            5     L
621               2             5              5            5     L
622               3             5              5            5     L
623               4             5              5            5     L
624               5             5              5            5     B

[625 rows x 5 columns]

### Pre-processing

In [30]:
# Checking the missing values
if DecisionTable.isna().any().any():
    print("Dataset has missing values")
    DecisionTable.fillna(DecisionTable.mode().iloc[0], inplace=True) # fill with columnwise most common
else:
    print("No missing values")

No missing values

In [31]:
# Checking dublicates
if DecisionTable.iloc[:, :-1].duplicated().any():
    print("Yes there are dublicates")
    # merge dublicates and last values is the most common one
    DecisionTable = DecisionTable.groupby(list(DecisionTable.columns[:-1]))['class'].agg(lambda x: x.mode()[0]).reset_index()
else:
    print("No dublicate")

No dublicate

### Creating Decision Rule System

In [ ]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)
DecisionRule

In [ ]:
DecisionRule.to_csv('/Users/durdymk/Desktop/DrDt/datasets/DecisionRuleSystems/DRS_balance_scale', index=False)

# Example

In [ ]:
example_DTable = pd.DataFrame(
[[1,1,1,1],
[0,1,0,2],
[1,1,0,2],
[0,0,1,3],
[1,0,0,3]],
columns=['f1','f2','f3','class']
)
example_DTable

In [ ]:
example_DRules = DecisionRuleCreatorFromDecisionTable(example_DTable)
example_DRules

In [ ]:
# example_DRules.to_csv('./Datasets/example_DRules.csv', index=False)