# Creating Decision Rule Systems

In [1]:
import pandas as pd
from helper_functions import DecisionRuleCreatorFromDecisionTable

# Tic Tac Toe

In [2]:
DecisionTable = pd.read_csv("./Datasets/UCIMLDatasets/tic-tac-toe.csv", header=None)

DecisionTable.columns = ["top-left-square", "top-middle-square", "top-right-square", "middle-left-square", "middle-middle-square", "middle-right-square", "bottom-left-square", "bottom-middle-square", "bottom-right-square", "class"]

In [3]:
DecisionTable

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

In [4]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

100%|████████████████████████████████████████| 958/958 [00:02<00:00, 420.67it/s]

In [5]:
DecisionRule

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square,class
0,NaN,NaN,NaN,NaN,o,o,NaN,o,o,positive
1,NaN,NaN,NaN,NaN,o,o,o,NaN,o,positive
2,NaN,NaN,NaN,NaN,o,o,o,o,NaN,positive
3,NaN,NaN,x,NaN,NaN,o,o,NaN,b,positive
4,NaN,x,NaN,x,NaN,NaN,b,NaN,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative
954,NaN,NaN,o,x,NaN,NaN,NaN,NaN,NaN,negative
955,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
956,o,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,negative
957,o,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,negative

In [6]:
DecisionRule.to_csv('./Datasets/DecisionRuleSystems/DRS_tic-tac-toe', index=False)

# Car Evaluation

In [7]:
DecisionTable = pd.read_csv("./Datasets/UCIMLDatasets/car_evaluation.csv", header=None)

DecisionTable.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]

In [8]:
DecisionTable

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [9]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

100%|██████████████████████████████████████| 1728/1728 [00:03<00:00, 459.43it/s]

In [10]:
DecisionRule.to_csv('./Datasets/DecisionRuleSystems/DRS_car_evaluation', index=False)

# Mushroom Dataset

In [11]:
#pip install ucimlrepo
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
mushroom = fetch_ucirepo(id=73) 
  
# data (as pandas dataframes) 
X = mushroom.data.features 
y = mushroom.data.targets 

#rename target name 'poisonous' to 'class'
y = y.rename(columns={'poisonous': 'class'})

In [12]:
DecisionTable = pd.concat([X, y], axis=1)

In [13]:
DecisionTable

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,class
0,x,s,n,t,p,f,c,n,k,e,...,w,w,p,w,o,p,k,s,u,p
1,x,s,y,t,a,f,c,b,k,e,...,w,w,p,w,o,p,n,n,g,e
2,b,s,w,t,l,f,c,b,n,e,...,w,w,p,w,o,p,n,n,m,e
3,x,y,w,t,p,f,c,n,n,e,...,w,w,p,w,o,p,k,s,u,p
4,x,s,g,f,n,f,w,b,k,t,...,w,w,p,w,o,e,n,a,g,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,k,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,b,c,l,e
8120,x,s,n,f,n,a,c,b,y,e,...,o,o,p,n,o,p,b,v,l,e
8121,f,s,n,f,n,a,c,b,n,e,...,o,o,p,o,o,p,b,c,l,e
8122,k,y,n,f,y,f,c,n,b,t,...,w,w,p,w,o,e,w,v,l,p
8123,x,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,o,c,l,e

In [14]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

  0%|                                                  | 0/8124 [00:00<?, ?it/s]/Users/durdymk/Desktop/DR-DT/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|███████████████████████████████████████| 8124/8124 [03:27<00:00, 39.10it/s]

In [15]:
DecisionRule

,cap-shape,cap-surface,cap-color,bruises,odor,gill-spacing,gill-size,gill-color,stalk-shape,stalk-root,stalk-surface-above-ring,stalk-color-above-ring,stalk-color-below-ring,spore-print-color,population,class
0,NaN,NaN,NaN,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
1,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
2,NaN,NaN,NaN,NaN,l,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
3,NaN,NaN,NaN,NaN,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8120,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8121,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e
8122,k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,p
8123,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e

In [16]:
DecisionRule.to_csv('./Datasets/DecisionRuleSystems/DRS_mushroom', index=False)

# Congressional Voting Records

In [17]:
from ucimlrepo import fetch_ucirepo

# fetch dataset 
congressional_voting_records = fetch_ucirepo(id=105) 
  
# data (as pandas dataframes) 
X = congressional_voting_records.data.features 
y = congressional_voting_records.data.targets 

#rename target name 'Class' to 'class'
y = y.rename(columns={'Class': 'class'})

In [18]:
DecisionTable = pd.concat([X, y], axis=1)

In [19]:
DecisionTable

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,class
0,n,y,n,y,y,y,n,n,n,y,NaN,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,NaN,republican
2,NaN,y,y,NaN,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,NaN,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,NaN,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,NaN,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,NaN,NaN,NaN,NaN,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,NaN,n,republican

In [20]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

  0%|                                                   | 0/435 [00:00<?, ?it/s]/Users/durdymk/Desktop/DR-DT/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|████████████████████████████████████████| 435/435 [00:01<00:00, 307.23it/s]

In [21]:
DecisionRule

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
431,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,democrat
432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
433,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican
434,NaN,NaN,n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,republican

In [22]:
DecisionRule.to_csv('./Datasets/DecisionRuleSystems/DRS_congressional_voting_records', index=False)

# Breast Cancer

In [23]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
breast_cancer = fetch_ucirepo(id=14) 
  
# data (as pandas dataframes) 
X = breast_cancer.data.features 
y = breast_cancer.data.targets 

#rename target name 'Class' to 'class'
y = y.rename(columns={'Class': 'class'})

In [24]:
DecisionTable = pd.concat([X, y], axis=1)

In [25]:
DecisionTable

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
284,40-49,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events
285,50-59,ge40,30-34,5-Mar,no,3,left,left_low,no,recurrence-events

In [26]:
DecisionRule = DecisionRuleCreatorFromDecisionTable(DecisionTable)

  0%|                                                   | 0/286 [00:00<?, ?it/s]/Users/durdymk/Desktop/DR-DT/helper_functions.py:199: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r[mask_row] = np.nan
100%|████████████████████████████████████████| 286/286 [00:02<00:00, 142.85it/s]

In [27]:
DecisionRule

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,30-39,NaN,30-34,NaN,NaN,NaN,NaN,left_low,NaN,no-recurrence-events
1,NaN,NaN,20-24,0-2,NaN,NaN,NaN,right_up,NaN,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2.0,left,left_low,no,no-recurrence-events
3,60-69,NaN,15-19,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
4,40-49,NaN,0-4,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2.0,left,left_up,no,recurrence-events
282,30-39,NaN,20-24,NaN,NaN,3.0,NaN,left_up,NaN,recurrence-events
283,60-69,NaN,20-24,NaN,NaN,1.0,right,NaN,NaN,recurrence-events
284,NaN,NaN,30-34,5-Mar,no,NaN,NaN,NaN,NaN,recurrence-events
285,NaN,NaN,30-34,5-Mar,no,NaN,NaN,NaN,NaN,recurrence-events

In [28]:
DecisionRule.to_csv('./Datasets/DecisionRuleSystems/DRS_breast_cancer', index=False)

# Example

In [29]:
example_DTable = pd.DataFrame(
[[1,1,1,1],
[0,1,0,2],
[1,1,0,2],
[0,0,1,3],
[1,0,0,3]],
columns=['f1','f2','f3','class']
)
example_DTable

   f1  f2  f3  class
0   1   1   1      1
1   0   1   0      2
2   1   1   0      2
3   0   0   1      3
4   1   0   0      3

In [30]:
example_DRules = DecisionRuleCreatorFromDecisionTable(example_DTable)
example_DRules

100%|████████████████████████████████████████████| 5/5 [00:00<00:00, 930.70it/s]

    f1   f2   f3  class
0  1.0  NaN  1.0      1
1  0.0  1.0  NaN      2
2  NaN  1.0  0.0      2
3  NaN  0.0  NaN      3
4  NaN  0.0  NaN      3

In [31]:
# example_DRules.to_csv('./Datasets/example_DRules.csv', index=False)