In [1]:
import numpy as np 
import pandas as pd
import networkx as nx

from sklearn.model_selection import train_test_split
from tqdm import tqdm
from ucimlrepo import fetch_ucirepo

from Algorithms import A_C_N, A_C_G, DynamicProgrammingAlgorithms
from helper_functions import DecisionRuleCreatorFromDecisionTable, Reduction, R_AR, R_SR, R_AD, SAlphaStep

### Loading the Dataset

In [5]:
S = pd.read_csv("./Datasets/DecisionRuleSystems/DRS_breast_cancer")
S

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,class
0,30-39,NaN,30-34,NaN,NaN,NaN,NaN,left_low,NaN,no-recurrence-events
1,NaN,NaN,20-24,0-2,NaN,NaN,NaN,right_up,NaN,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2.0,left,left_low,no,no-recurrence-events
3,60-69,NaN,15-19,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
4,40-49,NaN,0-4,NaN,NaN,NaN,NaN,NaN,NaN,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2.0,left,left_up,no,recurrence-events
282,30-39,NaN,20-24,NaN,NaN,3.0,NaN,left_up,NaN,recurrence-events
283,60-69,NaN,20-24,NaN,NaN,1.0,right,NaN,NaN,recurrence-events
284,NaN,NaN,30-34,5-Mar,no,NaN,NaN,NaN,NaN,recurrence-events
285,NaN,NaN,30-34,5-Mar,no,NaN,NaN,NaN,NaN,recurrence-events

In [8]:
alg = DynamicProgrammingAlgorithms(C="EAR")

In [9]:
%%time
depth = alg.A_DP(S[:5])
depth

CPU times: user 5.04 s, sys: 73.1 ms, total: 5.11 s
Wall time: 5.04 s

3

In [ ]:
S[10:15]

In [ ]:
print("done")

In [ ]:
S.columns

In [ ]:


S['cap-shape'].notna().any()

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'A': [1, np.nan, 3],
    'B': [np.nan, np.nan, np.nan],
    'C': [np.nan, 2, 3],
})

# Check if there is any not NaN value in column 'A'
has_not_nan_A = df['A'].notna().any()
print(f"Column 'A' has non-NaN values: {has_not_nan_A}")

# Check if there is any not NaN value in column 'B'
has_not_nan_B = df['B'].notna().any()
print(f"Column 'B' has non-NaN values: {has_not_nan_B}")

# Check if there is any not NaN value in column 'C'
has_not_nan_C = df['C'].notna().any()
print(f"Column 'C' has non-NaN values: {has_not_nan_C}")

In [ ]:
res = 0
for col in S.columns:
    if S[col].notna().any():
        res += 1
res

In [ ]:
S1 = S[:20]
S1

In [ ]:
res = 0
for col in S1.columns:
    if S1[col].notna().any():
        res += 1
res

In [ ]:
depth1 = alg.A_DP(S1)
depth1

In [ ]:
S_init = pd.read_csv("./Datasets/Decision Rule Systems/DRS_mushroom")
S_init

In [ ]:
res = 0
for col in S_init.columns:
    if S_init[col].notna().any():
        res += 1
res