In [1]:
# Libraries
import itertools
from importlib import resources
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import time

from drdt.helper_functions import DecisionRuleCreatorFromDecisionTable, Reduction, R_SR, R_AD, SAlphaStep, SPlus, SMax, NCover, NGreedy
from drdt.algorithms import DynamicProgrammingAlgorithms, A_C_N, A_C_G

In [2]:
problems = ['AR', 'EAR', 'SR', 'ESR', 'AD', 'EAD']
dataset_name = "Breast Cancer"

DP = []
NC = []
NCgreedy = []
Gr = []

# Loading Data

In [3]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_balance_scale') as dataset_path:
    S = pd.read_csv(dataset_path).sample(n=20, random_state=42).applymap(lambda x: str(x) if pd.notnull(x) else x)
S = S.dropna(axis=1, how='all') # Drop the columns with all None
S

/var/folders/06/0m2hb6f927s6rdyhxjrbss740r2h_1/T/ipykernel_34626/286735642.py:1: DeprecationWarning: path is deprecated. Use files() instead. Refer to https://importlib-resources.readthedocs.io/en/latest/using.html#migrating-from-legacy for migration advice.
  with resources.path('datasets.DecisionRuleSystems', 'DRS_balance_scale') as dataset_path:
/var/folders/06/0m2hb6f927s6rdyhxjrbss740r2h_1/T/ipykernel_34626/286735642.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  S = pd.read_csv(dataset_path).sample(n=20, random_state=42).applymap(lambda x: str(x) if pd.notnull(x) else x)

    right-distance right-weight left-distance left-weight class
447            3.0          5.0           3.0         4.0     R
485            1.0          3.0           5.0         NaN     L
215            1.0          NaN           4.0         2.0     L
212            3.0          3.0           4.0         2.0     R
480            1.0          2.0           5.0         NaN     L
515            1.0          4.0           NaN         5.0     L
163            4.0          3.0           2.0         NaN     R
77             3.0          1.0           4.0         NaN     L
527            3.0          1.0           NaN         5.0     L
145            NaN          5.0           1.0         2.0     R
265            NaN          4.0           1.0         3.0     R
31             2.0          2.0           2.0         1.0     R
55             1.0          2.0           3.0         NaN     L
90             1.0          4.0           4.0         1.0     B
557            NaN          2.0           3.0         5.0     L
76             2.0          1.0           4.0         NaN     L
2              3.0          NaN           1.0         1.0     R
368            4.0          4.0           NaN         3.0     R
395            NaN          5.0           1.0         4.0     R
286            2.0          3.0           2.0         3.0     B

# Dataset Analyses

In [4]:
n = len(S.columns)-1
print(f"Number of features  = {n}")

Number of features  = 4

In [5]:
print(f"Does # of features = d  = {not S.dropna().empty}")

Does # of features = d  = True

In [6]:
# Count non-NaN values for each row
non_nan_counts = S.count(axis=1)

# Find the index
max_non_nan_row_index = non_nan_counts.idxmax()

# Retrieve the row
max_non_nan_row = S.loc[max_non_nan_row_index]

# Number of non-NaN values in the row
max_non_nan_count = non_nan_counts[max_non_nan_row_index]

d = max_non_nan_count - 1

print(f"d = {d}") # remove 1 because of last class column

d = 4

# Dynamic Programming

In [7]:
start_time = time.time()
alg = DynamicProgrammingAlgorithms(C="EAR")
depth = alg.A_DP(S)
end_time = time.time()

print(f"DP EAR = {depth}")
print("Running time =", end_time - start_time)

DP EAR = 4
Running time = 0.0005369186401367188

# Combinations

In [8]:
column_values_extension = []

for column in S.columns[:-1]: #ignoring class column
    column_values_extension.append(list(S[column].dropna().unique()) + ['*'])
    
# All possible combinations with extension    
extended_combinations = list(itertools.product(*column_values_extension))

print('Number of Possible combinations =', len(extended_combinations))

Number of Possible combinations = 1080

# Node Cover

In [9]:
depths = []

start_time = time.time()
for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]

    alg = A_C_N(C="EAR", N="cover")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
end_time = time.time()

print("NC EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))
NC.append((max(depths), min(depths), round(sum(depths)/len(depths), 2)))
print("Running time =", end_time - start_time)

100%|█████████████████████████████████████| 1080/1080 [00:01<00:00, 1038.66it/s]

NC EAR
(Max Depth, Min Depth, Average Depth) = (4, 4, 4.0)
Running time = 1.052724838256836

# Node Cover Greedy

In [10]:
depths = []

start_time = time.time()
for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]

    alg = A_C_N(C="EAR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
end_time = time.time()

print("NCgreedy EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))
NCgreedy.append((max(depths), min(depths), round(sum(depths)/len(depths), 2)))
print("Running time =", end_time - start_time)

100%|██████████████████████████████████████| 1080/1080 [00:03<00:00, 321.93it/s]

NCgreedy EAR
(Max Depth, Min Depth, Average Depth) = (4, 2, 3.0388888888888888)
Running time = 3.3559329509735107

# Greedy

In [11]:
depths = []


start_time = time.time()
for comb in tqdm(extended_combinations):
    #creating delta
    delta = pd.DataFrame([list(comb)], columns=list(S.columns[:-1]))
    
    delta = delta.loc[0]

    alg = A_C_G(C="EAR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)
end_time = time.time()

print("Greedy EAR")    
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))
Gr.append((max(depths), min(depths), round(sum(depths)/len(depths), 2)))
print("Running time =", end_time - start_time)

100%|██████████████████████████████████████| 1080/1080 [00:01<00:00, 796.47it/s]

Greedy EAR
(Max Depth, Min Depth, Average Depth) = (4, 2, 2.810185185185185)
Running time = 1.357055902481079