In [1]:
import itertools
import pandas as pd
from importlib import resources
from tqdm import tqdm

from drdt.algorithms import A_C_N

In [2]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_balance_scale') as dataset_path:
    S = pd.read_csv(dataset_path)   
S

     right-distance  right-weight  left-distance  left-weight class
0               1.0           1.0            1.0          1.0     B
1               2.0           NaN            1.0          1.0     R
2               3.0           NaN            1.0          1.0     R
3               4.0           NaN            1.0          1.0     R
4               5.0           NaN            1.0          1.0     R
..              ...           ...            ...          ...   ...
620             1.0           NaN            5.0          5.0     L
621             2.0           NaN            5.0          5.0     L
622             3.0           NaN            5.0          5.0     L
623             4.0           NaN            5.0          5.0     L
624             5.0           5.0            5.0          5.0     B

[625 rows x 5 columns]

In [3]:
res = 1

for col in S.columns[:-1]:
    res *= len(S[col].unique())-1
    
print("number of possible combinations =", res)

number of possible combinations = 625

In [4]:
# Possible values for each featue
right_distance_values = [1,2,3,4,5]
right_weight_values = [1,2,3,4,5]
left_distance_values = [1,2,3,4,5]
left_weight_values = [1,2,3,4,5]                  

# All possible combinations
combinations = list(itertools.product(right_distance_values, right_weight_values, left_distance_values, left_weight_values))

In [5]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame(
    [[comb[0], comb[1], comb[2], comb[3]]],
    columns=['right-distance','right-weight','left-distance','left-weight'])
    
    delta = delta.loc[0]
    
    alg = A_C_N(C="AR", N="greedy")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)

100%|█████████████████████████████████████████| 625/625 [00:07<00:00, 80.48it/s]

In [6]:
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

(Max Depth, Min Depth, Average Depth) = (4, 4, 4.0)