In [1]:
import itertools
import pandas as pd
from importlib import resources
from tqdm import tqdm

from drdt.algorithms import A_C_G

In [2]:
with resources.path('datasets.DecisionRuleSystems', 'DRS_car_evaluation') as dataset_path:
    S = pd.read_csv(dataset_path)   
S

     buying maint  doors persons lug_boot safety  class
0       NaN   NaN    NaN       2      NaN    NaN  unacc
1       NaN   NaN    NaN       2      NaN    NaN  unacc
2       NaN   NaN    NaN       2      NaN    NaN  unacc
3       NaN   NaN    NaN       2      NaN    NaN  unacc
4       NaN   NaN    NaN       2      NaN    NaN  unacc
...     ...   ...    ...     ...      ...    ...    ...
1723    low   NaN  5more     NaN      NaN    med   good
1724    low   NaN    NaN     NaN      NaN   high  vgood
1725    NaN   NaN    NaN     NaN      NaN    low  unacc
1726    low   NaN  5more     NaN      NaN    med   good
1727    low   NaN    NaN     NaN      big    NaN  vgood

[1728 rows x 7 columns]

In [3]:
res = 1

for col in S.columns[:-1]:
    res *= len(S[col].unique())-1
    
print("number of possible combinations =", res)

number of possible combinations = 1728

In [4]:
# Possible values for each featue
buying_values = ['vhigh','high','med','low']
maint_values = ['vhigh','high','med','low']
doors_values = [2,3,4,'5more']
persons_values = [2,4,'more'] 
lug_boot_values = ['small', 'med', 'big']
safety_values = ['high','med','low']

# All possible combinations
combinations = list(itertools.product(buying_values, maint_values, doors_values, persons_values, lug_boot_values, safety_values))

In [5]:
depths = []

for comb in tqdm(combinations):
    #creating delta
    delta = pd.DataFrame(
    [[comb[0], comb[1], comb[2], comb[3], comb[4], comb[5]]],
    columns=['buying','maint','doors','persons', 'lug_boot', 'safety'])
    
    delta = delta.loc[0]
    
    alg = A_C_G(C="AR")
    
    depth, _ = alg.solve(S, delta=delta)
    
    depths.append(depth)

100%|███████████████████████████████████████| 1728/1728 [00:23<00:00, 73.04it/s]

In [6]:
print("(Max Depth, Min Depth, Average Depth) =", (max(depths), min(depths), sum(depths)/len(depths)))

(Max Depth, Min Depth, Average Depth) = (6, 5, 5.861689814814815)